{% extends 'base.html' %}
{% load static %}

{% block content1 %} 
<div class="row my-5">
  <div class="col-7 text-left text-light">
    <h2>Hi......!!!!</h2>
    <p class="fs-5">
      I am Skilled developer with 1 year of experience in SAP ABAP, including proficiency in MySQL. 
      In addition, you have completed a Python full-stack development course, enhancing your 
      expertise in both backend and frontend development. Your knowledge of HTML further adds
       to your web development capabilities. 
    </p>
    <p class="fs-5">
      I have a strong understanding of object-oriented programming and database management, 
      which enables you to develop efficient and scalable solutions. Your eagerness to learn 
      and adapt to new technologies makes you a valuable asset in any development team. 
      You are now focused on securing a role where you can contribute to impactful projects and grow professionally.
    </p>
  </div>
</div>

<div class="row my-2">
  <h2 class="text-center" style="color: burlywood;"> TECHNICAL SKILLS</h2>

  <div class="d-flex justify-content-around align-items-center">
    <img src="{% static 'images/abap.png' %}"
    width="100"
    height="100"
    alt="abap Logo"
    class="image-fluid"
    />

    <img src="{% static 'images/html.png' %}"
    width="100"
    height="100"
    alt="html Logo"
    class="image-fluid"
    />

    <img src="{% static 'images/java.png' %}"
    width="100"
    height="100"
    alt="java Logo"
    class="image-fluid"
    />

    <img src="{% static 'images/python.png' %}"
    width="100"
    height="100"
    alt="python Logo"
    class="image-fluid"
    />

    <img src="{% static 'images/sql.png' %}"
    width="100"
    height="100"
    alt="sql Logo"
    class="image-fluid"
    />
  </div>
</div>



{% endblock content1 %} 